<div class="row">
  <form class="col s12">
    <div class="row section">
      <div class="input-field col s3 offset-s1">
        <input id="search_for" type="text" class="validate">
        <label for="search_for">Search for...</label>
      </div>
      <div class="input-field col s3">
        <select>
          <option value="1" selected>All</option>
          <option value="2">Bikes</option>
          <option value="3">Bags</option>
          <option value="4">Books</option>
          <label>Materialize Select</label>
        </select>
      </div>
      <div class="col s2 center">
        <a class="waves-effect waves-light cyan btn-large"><i class="material-icons left">search</i>Search</a>
      </div>
      <div class="col s2 center">
        <a class="waves-effect waves-light cyan btn-large"><i class="material-icons left">add</i>Add Item</a>
      </div>
    </div>
  </form>
</div>

<div class="divider"></div>
<div class="section horizontal-list">
  <h5>Initiated Trades</h5>
  <div class="row">
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/wine_bottle.jpg">
          </div>
          <div class="card-content">
            <p class="center">Bottle of Fine Wine</p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Yes</label>
            </p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">No</label>
            </p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/wine_bottle.jpg">
          </div>
          <div class="card-content">
            <p class="center">Bottle of Fine Wine</p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Yes</label>
            </p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">No</label>
            </p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/wine_bottle.jpg">
          </div>
          <div class="card-content">
            <p class="center">Bottle of Fine Wine</p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Yes</label>
            </p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">No</label>
            </p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/wine_bottle.jpg">
          </div>
          <div class="card-content">
            <p class="center">Bottle of Fine Wine</p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Yes</label>
            </p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">No</label>
            </p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
    </div>
</div>

<div class="divider"></div>
<div class="section horizontal-list">
  <h5>Proposed Trades</h5>
  <div class="row">
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/plant.jpg">
          </div>
          <div class="card-content">
            <p class="center">Plant</p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Yes</label>
              </p>
              <p>
              <input type="checkbox" id="test5" />
              <label for="test5">No</label>
            </p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/plant.jpg">
          </div>
          <div class="card-content">
            <p class="center">Plant</p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Yes</label>
              </p>
              <p>
              <input type="checkbox" id="test5" />
              <label for="test5">No</label>
            </p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/plant.jpg">
          </div>
          <div class="card-content">
            <p class="center">Plant</p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Yes</label>
              </p>
              <p>
              <input type="checkbox" id="test5" />
              <label for="test5">No</label>
            </p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/plant.jpg">
          </div>
          <div class="card-content">
            <p class="center">Plant</p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Yes</label>
              </p>
              <p>
              <input type="checkbox" id="test5" />
              <label for="test5">No</label>
            </p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
    </div>
</div>

<div class="divider"></div>
<!-- _____________________________________________________________
<div class="main" ng-controller="MainController">
      <div class="container">


    <div ng-repeat="product in products" class="col-md-6">
      <div class="thumbnail">
        <img ng-src="{{ product.cover }}">
        <p class="title">{{ product.name }}</p>
        <p class="price">{{ product.price | currency }}</p>
        <p class="date">{{ product.pubdate | date }} </p>
      </div>
    </div>

________________________________________________ -->
<div class="main" ng-controller="UserItemsController">
      <div class="container">


  <div ng-repeat="product in products" class="col-md-6">
    <div class="thumbnail">
      <img ng-src="{{ product.cover }}">
      <p class="title">{{ product.name }}</p>
      <p class="price">{{ product.price | currency }}</p>
      <p class="date">{{ product.pubdate | date }} </p>
    </div>
  </div>



<div class="section horizontal-list">
  <h5>Listed Items</h5>
  <div class="row">
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/chair.jpg">
          </div>
          <div class="card-content center">
            <p>Chair</p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/chair.jpg">
          </div>
          <div class="card-content center">
            <p>Chair</p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/chair.jpg">
          </div>
          <div class="card-content center">
            <p>Chair</p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/assets/chair.jpg">
          </div>
          <div class="card-content center">
            <p>Chair</p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
    </div>
</div>
