/*-------------------------------
Navbar
------------------------------- */
.logo {
  padding-left: 1%;
}

.brand {
  font-size: 2rem !important;
  font-family: 'Kite One', sans-serif;
}

/*-------------------------------
Trade Lists
------------------------------- */
.horizontal-list {
  margin-left: 2%;
}
