/*-------------------------------
Navbar
------------------------------- */
.logo {
  padding-left: 1%;
}

.brand {
  font-size: 2rem !important;
  font-family: 'Kite One', sans-serif;
}

/*-------------------------------
Search Form
------------------------------- */
.categories {
  width: 18% !important;
}

/*-------------------------------
Trade Lists
------------------------------- */
.horizontal-list {
  margin-left: 2%;
}
.picture {
  height: 430px;
}
.image-size {
  height: 250px;
}
.image-size-large {
  height: 100%;
}

/*-------------------------------
Flash Messages
------------------------------- */
.flash_message {
  height: 35px;
  font-size: 1.5em;
  border-radius: 10px;
  margin-top: 1px;
  margin-bottom: -7%;
}

.success {
  background-color: #81c784;
}

.danger {
  background-color: #b71c1c;
  color: white;
}
