<div class="section horizontal-list" >
  <h5>Categories</h5>
  <div class="row" ng-controller="CategoriesController">
      <div class="col s3" ng-repeat="category in categories">
        <a href="/categories/{{category.id}}">
          <div class="card picture">
            <div class="card-image">
              <img src="/assets/{{category.image}}" class="image-size">
            </div>
            <div class="card-content center">
              <h4 class="title">{{ category.title }}</h4>
            </div>
          </div>
        </a>
      </div>
  </div>
</div>
