<div class="section horizontal-list">
  <h5>Items in <%= @category.title %></h5>
  <div class="row" ng-controller="ItemsController">
      <div class="col s3" ng-repeat="item in items | filter:{'category_id':<%= @category.id %>}:true">

          <div class="card picture">
            <div class="card-image">
              <div ng-if="null == item.picture_file_name">
                <img src="/assets/default_image.jpg" class="image-size">
              </div>
              <div ng-if="null != item.picture_file_name">
                <img src="/assets/{{item.picture_file_name}}" class="image-size">
              </div>
            </div>
            <div class="card-content center">
              <h4 class="title">{{ item.title }}</h4>
            </div>
          </div>
      </div>
  </div>
</div>
