<nav>
  <div class="nav-wrapper logo grey lighten-4">
    <%= link_to "Cowboy Kyle's Trading Post", root_path, class: "brand-logo brand cyan-text" %>
    <ul id="nav-mobile" class="right brand-logo brand cyan">
      <li><%= link_to "Log In"%></li>
    </ul>
  </div>
</nav>
