<nav>
  <div class="nav-wrapper logo grey lighten-4">
    <%= link_to "Cowboy Kyle's Trading Post", root_path, class: "brand-logo brand cyan-text" %>
    <ul id="nav-mobile" class="right brand cyan">
<<<<<<< HEAD
      <li><%= link_to "Log In"%></li>
=======
      <li><%= link_to "Categories" %></li>
      <li><%= link_to "Log Out" %></li>
>>>>>>> master
    </ul>
  </div>
</nav>
